/*estilos del cuerpo*/
.body{
    background-color: black;
}
/* Style the tab */
.tab {
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
 background: #dae2f8; 
  background: -webkit-linear-gradient(to right, #dae2f8, #d6a4a4); 
  background: linear-gradient(to right, #dae2f8, #d6a4a4);
}
.London{
    text-align: right;
}
.card{
    margin: 30px;
    scale: 10%;
}
.card-footer{
    text-align: center;
}
